{% extends "base.html" %}
{% block content %}
<h1>Update Feedback</h1>

<form method="POST">
        
    <!-- Without the hidden_tag(), the CSRF token would not be sent with the form, making your application vulnerable to CSRF attacks. -->
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Update Feedback</button>
</form>
{% endblock%}